{% extends 'base.html' %}
{% load static %}

{% block content%}
<head>
  <link rel="stylesheet" href="{% static 'css/pages.css' %}">
</head>

<div class="billboard2">
  <p class="bill-content">About Us</p>
</div>

<div class="main-about-section">
  <div class="main-about_image">
    <img src="https://images.unsplash.com/photo-1560264418-c4445382edbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
  </div>

  <div class="main-about_content mt">
    <h2>What we do?</h2>
    <p>We aim to simplify and enhance invement. We enable our users to enter the various investment market with zero-learning curve and construct portfolio with the aim to maximize returns. <br> <br> With over 15 years of exprerience Fusion Investment have built a reputation for their growth as a company and Trust by investors from different parts of the world.</p>
  </div>
</div>

<section class="about-section">
  <div class="section-details">
    <p class="heading-main center">Who are We?</p>
    <p class="heading-sub center">We are US Based Financial Service Company. We provide Diversified Investent opportunities.</p>
  </div>

  <div class="about-cards">
    <div class="about-card" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon"><i class="bi bi-bank2"></i></div>
      <p class="card-heading">Stocks</p>
      <p class="card-details">Build a rich investment Plan with out stock options low fees and quick liquidity.</p>
    </div>

    <div class="about-card" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon"><i class="bi bi-house-fill"></i></i></div>
      <p class="card-heading">Real Estate</p>
      <p class="card-details">Invest in Real Estate Investment Trust. With weekly dividend and a safer return on profits</p>
    </div>

    <div class="about-card" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon"><i class="bi bi-currency-bitcoin"></i></i></div>
      <p class="card-heading">Crypto</p>
      <p class="card-details">Invest in cryptocurrencies like and build a diversified crypto portfolio</p>
    </div>
  </div>
</section>

<section class="contact">
  <h1>Do you have any question ?</h1>
  <p>Due to a high increase in the volume of requests, our response time may be extended. Please note that currently it may take up to 7 days for us to get back to you. We are working to handle all inquiries as quickly as possible and thank you for your patience and understanding during this time.</p>
  <a href="#" class="btn btn-main center" data-aos="fade-up" data-aos-duration="2000" style="color: white; font-size: 2rem;">Contact Us</a>
</section>

<div class="main-about-section">
  <div class="main-about_content marginnn">
    <h2>How we do it?</h2>
    <p> Exness Investment, provides its clients with an opportunity to invest money into diversified investments, that ensures maximum returns and very low risks. We trade crypto, stock, invest in Real Estate and are Investor in Small Businesses. <br> <br> </p>
  </div>

  <div class="main-about_image mt">
    <img src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
  </div>
</div>

<div class="trustedby">
  <div class="section-details">
    <p class="heading-main center primary">Trusted By the best</p>
    <p class="heading-sub center primary">Partnering with the world's leaders</p>
  </div>

  <div class="brand-images">
    <div class="brandimage">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/BBC_Logo_2021.svg/800px-BBC_Logo_2021.svg.png" alt="">
    </div>

    <div class="brandimage">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/772px-Mastercard-logo.svg.png" alt="">
    </div>

    <div class="brandimage">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/800px-Visa_Inc._logo.svg.png" alt="">
    </div>

    <div class="brandimage">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/PayPal_logo.svg/527px-PayPal_logo.svg.png" alt="">
    </div>

    <div class="brandimage">
      <img src="https://www.pngplay.com/wp-content/uploads/3/Bank-Of-America-Logo-Background-PNG-Image.png" alt="">
    </div>
  </div>
</div>

{% endblock %}
