{% extends 'base.html' %}
{% load static %}

{% block content%}
<head>
  <link rel="stylesheet" href="{% static 'css/fusionhub.css' %}">
</head>

<div class="billboard3">
  <div class="billboard_content">
    <h1 class="billboard-header" data-aos="fade-up" data-aos-duration="1000">
      Be part of a world leading platform
    </h1>

    <p class="billboard-subhead" data-aos="fade-up" data-aos-duration="1500">
      Fusion Hub is a leading resource management and Business Development Agency. <br> With Members from everypart of the world.
    </p>

    <!-- <div class="billboard-buttons" data-aos="fade-up" data-aos-duration="2000">
      <a href="#" class="btn btn-main">Get Started!</a>
      <a href="#" class="btn btn-cta">Contact Us</a>
    </div> -->
  </div>
</div>

<div class="about-fusion about1 padding">
  <div class="about-fusion_image">
    <img src="https://images.unsplash.com/photo-1603201667246-3c45012c6d17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
  </div>

  <div class="about-fusion_text">
    <p class="minor-heading">About Us</p>
    <h2>What is Fusion Hub</h2>
    <p>We are a Talent Management and Business Development Agency a branch of Fusion Inc. Fusion Hub consist of members from different parts of the world. With Diverse Skillset and Career Path. <br><br> We are dedicated to supporting and growing your business and Talents. Our clients include Businesses, Models, Musicians, Clebrities and Entrepreneur who want to connect and grow</p>
  </div>
</div>

<section class="about-section">
  <div class="section-details">
    <p class="heading-main center primary">Benefits of Fusion Hub</p>
    <p class="heading-sub center secondary">These are some of the Benefits our members enjoy</p>
  </div>

  <div class="about-cards">
    <div class="about-card" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon"><i class="bi bi-bank2"></i></div>
      <p class="card-heading">Paid Trips</p>
      <p class="card-details">Build a rich investment Plan with out stock options low fees and quick liquidity.</p>
    </div>

    <div class="about-card" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon"><i class="bi bi-house-fill"></i></i></div>
      <p class="card-heading">Passive Income</p>
      <p class="card-details">Invest in Real Estate Investment Trust. With weekly dividend and a safer return on profits</p>
    </div>

    <div class="about-card" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon"><i class="bi bi-currency-bitcoin"></i></i></div>
      <p class="card-heading">Recruitment</p>
      <p class="card-details">Invest in cryptocurrencies like and build a diversified crypto portfolio</p>
    </div>

    <div class="about-card" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon"><i class="bi bi-currency-bitcoin"></i></i></div>
      <p class="card-heading">Training</p>
      <p class="card-details">Invest in cryptocurrencies like and build a diversified crypto portfolio</p>
    </div>
  </div>
</section>

<!-- <section class="get-started">
  <h1 class="center" data-aos="fade-up" data-aos-duration="1000">Has your portfolio reached its potential?</h1>
  <p class="center" data-aos="fade-up" data-aos-duration="1000">Diversify your portfolio across different options, take full advantage of our better-than-market conditions and manage your exposure to risk.</p>
  <a href="#" class="btn btn-main center" data-aos="fade-up" data-aos-duration="2000">Get Started!</a>
</section> -->

<div class="about-fusion about2 padding">
  <div class="about-fusion_image">
    <img src="https://images.unsplash.com/flagged/photo-1576485436509-a7d286952b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
  </div>

  <div class="about-fusion_text">
    <p class="minor-heading">Our Mission</p>
    <h2>What we're  about?</h2>
    <p>At Fusion Hub we aim to revolutionize how Talents and business connect and help you to achieve financial goals. We were developed out of the necessity for a platform that helps our members grow and connect.</p>
    <ul class="fusion-mission">
      <li>Connect our Members</li>
      <li>Help You get financial stability</li>
      <li>Jobs and Grants</li>
      <li>ROI on Investments</li>
    </ul>
  </div>
</div>

<!-- <div class="faq">
  
</div> -->

<section class="getting-started center">
  <div class="section-details">
    <p class="heading-main center">Getting Started with Fusion Hub</p>
    <p class="heading-sub center" data-aos="fade-up" data-aos-duration="1000">Simple steps to join Fusion Hub</p>
  </div>
  
  <div class="get-started_steps">
    <div class="get-started_cards" data-aos="fade-up" data-aos-duration="1000">
      <div class="counter">1</div>
      <img src="https://d9hhrg4mnvzow.cloudfront.net/promotion.exness.com/en/brand/227d85ab-group-46_103s04q000000000000000.png" alt="">
      <h3>Open an account</h3>
      <p>Open A Fusion Account</p>
    </div>

    <div class="get-started_cards" data-aos="fade-up" data-aos-duration="1000">
      <div class="counter">2</div>
      <img src="https://d9hhrg4mnvzow.cloudfront.net/promotion.exness.com/en/brand/1d56b235-group-16_103z046000000000000000.png" alt="">
      <h3>Go to Fusion Hub on Dashboard</h3>
      <p>Follow the steps listed on the page and Become a member</p>
    </div>

    <div class="get-started_cards" data-aos="fade-up" data-aos-duration="1000">
      <div class="counter">3</div>
      <img src="https://d9hhrg4mnvzow.cloudfront.net/promotion.exness.com/en/brand/fcf98672-group-28_103s04q000000000000000.png" alt="">
      <h3>Access the Hub Dashboard</h3>
      <p>Access the opportunities Fusion Hub Provide</p>
    </div>
  </div>
  
  <a href="{% url 'signin' %}" class="btn btn-cta">Get Started!</a>
</section>

<section class="testimonials">
  <div class="section-details">
    <p class="heading-main center white">Testimoinals</p>
    <p class="heading-sub center white">We are UK Based Financial Service Company. We provide investment opportunities.</p>
  </div>
  <div class="testimonials-groups">
    <div class="testimonies-card" data-aos="fade-up" data-aos-duration="500" >
      <video  controls>
        <source src="{% static 'images/kurt.mp4' %}" type="video/mp4">
       Your browser does not support the video tag.
      </video>
      <p class="testimonies-name">Kurt Tarrach</p> 
    </div>

    <div class="testimonies-card" data-aos="fade-up" data-aos-duration="500">x
      <video  controls>
        <source src="{% static 'images/hailangchan.mp4' %}" type="video/mp4">
       Your browser does not support the video tag.
      </video>
      <p class="testimonies-name">Hai Lang Chan</p>
    </div>

    <div class="testimonies-card" data-aos="fade-up" data-aos-duration="500">
      <video  controls>
        <source src="{% static 'images/gabriel.mp4' %}" type="video/mp4">
       Your browser does not support the video tag.
      </video>
      <p class="testimonies-name">Gabriel Min</p>
    </div>
  </div>
</section>

<section class="fusion-pitch center">
  <h3>Partnering with the world's leaders</h3>
  <p class="prompt">Join Fusion Hub</p>
  <p class="center">South America | Southern Asia | Southern Europe | Eastern Asia | Eastern Europe | Western Asia | South-eastern Asia | Western Europe | Northern Europe | Australia and New Zealand | Western Africa | Northern America</p>
  <div class="fusion-pitch_img">
    <img src="https://leo-brokerage.com/media/map.png" alt="">
  </div>
  <a href="{% url 'signup' %}" class="btn btn-cta">Join Fusion Hub</a>
</section>

<section class="contact-fusion">
  <h1 class="center" data-aos="fade-up" data-aos-duration="1000">Need More Info Contact Us</h1>
  <p class="center" data-aos="fade-up" data-aos-duration="1000">Have more questions regarding Fusion Hub?. React out to us now. And Speak to our Support.</p>
  <a href="{% url 'contact' %}" class="btn btn-main center" data-aos="fade-up" data-aos-duration="2000">Contact Us</a>
</section>


{% endblock %}
